<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<!--    <script>-->
<!--        function downloads() {-->
<!--            var http = "https://docs.google.com/document/d/143RU9FaHV9KpZZOqYtLtNCZyoXSBlGIIWvsPxn5frGU/export?format=doc";-->
<!--            var win1 = window.open(http);-->
<!--            var http = "https://docs.google.com/spreadsheets/d/1h_UQIb9T1QF9dYzzw36uVMBjoc4wl_h5-ejFk84knXg/export?format=xlsx";-->
<!--            var win2 = window.open(http);-->
<!--        }-->
<!--//     </script>-->
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>