{% extends "base.html" %}

{% set title = "My files" %}


{% block body %}
    <h3><a href="{{ url('index') }}">Main</a></h3>

    <form action="{{ url('user_files') }}" method="post">
        <input name="file" type="text" placeholder="File name" required>
        <input name="url" type="text" placeholder="URL" required>
        <button>Insert</button>
    </form>
    <br>
    <form id="delete_files" action="{{ url('user_files') }}" method="post">
        <button>Delete</button>
    </form>
    <br>
    <input type="button" value="Downloads" onclick="downloads()">
<!--    <a rel="nofollow" href="javascript:downloads()">Downloads</a>-->
    <table border="1" cellpadding="10">
        <tr>
            <td></td>
            <td>File</td>
            <td>URL</td>
            <td>Download</td>
        </tr>
        {% for line in files %}
            <tr>
                <td>
                    <input form="delete_files" name="id_file"
                           type="checkbox" value="{{ line.id_file }}">
                </td>
                <td>{{ line.file }}</td>
                <td>
                    <a href="{{ line.url }}"
                    target="_top">{{ line.url }}</a>
                </td>
                <td>
                    <a id="{{ line.id_file }}" href="{{ line.url_download }}"
                       download>download</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <script>
        function downloads() {
            const chbox_array = document.querySelectorAll('input[type=checkbox]');
            let i = 0;
            for (; i < chbox_array.length; i++) {
                let check = chbox_array[i];
                if (check.checked) {
                    let id_file = check.value;
                    let link = document.getElementById(id_file);
                    window.open(link.href);
                }
            }
        }
    </script>
{% endblock %}
